{% extends 'base.html' %}

{% block content %}
<div class="cards">
    {% for course in courses %}
        <div class="card">
            <div class="title">{{ course.title }}</div>

            <dl>
                {% for link in course.links %}
                    <dt><a href="{{ link.href }}">{{ link.text }}</a></dt>
                    <dd>{{ link.explanation }}</dd>
                {% endfor %}
            </dl>
        </div>
    {% empty %}
        <div class="card">
            <div class="title">No courses</div>

            <p>You are not enrolled in any active courses.</p>
        </div>
    {% endfor %}
</div>
{% endblock %}