{% extends 'dbmanager/base.html' %}

{% block breadcrumbs %}
    <span class="breadcrumb">
        <a href="{% url 'home' %}">Home</a>
    </span>
    <span class="breadcrumb">
        <a href="{% url 'student_home' %}">Database manager</a>
    </span>
    <span class="breadcrumb">
        <a href="{% url 'student_course_home' course_id=database.course.id %}">{{ database.course.title }}</a>
    </span>
    <span class="breadcrumb">
        <a href="{% url 'database_details' db_name=database.name %}"><span class="database-name">{{ database.name }}</span></a>
    </span>
    <span class="breadcrumb">
        Delete database
    </span>
{% endblock %}

{% block content %}
<div class="cards">
    <div class="card">
        <div class="title">Confirm database deletion</div>

        <p>Are you sure you wish to delete the <span class="database-name">{{ database.name }}</span> database?</p>
        {% if database.is_deleted %}
            <p>This database has already been deleted externally, meaning that all tables it used to contain are already gone. Deleting it here will only delete any record of
            it in the web app.</p>
        {% else %}
            <p>This will irreversibly delete all tables it contains. (You may wish to make a snapshot first as a backup.)</p>
            <h3>Tables</h3>
            <ul>
                {% for table_name in database.get_table_names %}
                    <li>{{ table_name }}</li>
                {% empty %}
                    (none)
                {% endfor %}
            </ul>
        {% endif %}

        <h3>Shares</h3>
        <ul>
            {% for sdba in database.shared_with_students.all %}
                <li>
                    {{ sdba.student.name }}
                    {% if sdba.write_permission %}
                        (read/write)
                    {% else %}
                        (read-only)
                    {% endif %}
                </li>
            {% empty %}
                (none)
            {% endfor %}
        </ul>

        <p>
            <form action="{% url 'delete_database' db_name=database.name %}" method="post">
                {% csrf_token %}
                <button type="submit" class="delete-button">Yes, really delete</button>
                &nbsp;
                <button type="button" id="never-mind-button">Never mind</button>
            </form>
        </p>

    </div>
</div>

<script>
"use strict";
document.querySelector("#never-mind-button").addEventListener("click", function() {
    window.history.back();
});
</script>
{% endblock %}
