{% extends 'dbmanager/base.html' %}

{% block breadcrumbs %}
    <span class="breadcrumb">
        <a href="{% url 'home' %}">Home</a>
    </span>
    <span class="breadcrumb">
        {{ course.title }}
    </span>
    <span class="breadcrumb">
        Students
    </span>
{% endblock %}

{% block content %}
<div class="cards">
    <div class="card">
        <div class="title">Students</div>
        <ul>
            {% for student in students %}
                <li><a href="{% url 'student_details' username=student.username %}">{{ student.name }} ({{ student.username }})</a></li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}
