{% extends 'dbmanager/base.html' %}

{% block breadcrumbs %}
    <span class="breadcrumb">
        <a href="{% url 'home' %}">Home</a>
    </span>
    <span class="breadcrumb">
        Database manager
    </span>
{% endblock %}

{% block content %}
<div class="cards">

    <div class="card">
        <div class="title">Active courses</div>
        <ul>
            {% for course in courses %}
                <li><a href="{% url 'student_course_home' course_handle=course.handle %}">{{ course.title }}</a></li>
            {% empty %}
                You do not have any active courses.
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}