{% extends 'base.html' %}

{% block head %}
    {% if not validlink %}
        <meta http-equiv="Refresh" content="0; {% url 'login' %}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="cards">
        <div class="card">
            <div class="title">Reset password</div>
            {% if validlink %}

                <ul class="errorlist">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>

                <form action="" method="post">
                    {% csrf_token %}
                    <dl>
                        <dt>
                            <label for="password1-box">New password:</label>
                        </dt>
                        <dd>
                            <input type="password" id="password1-box" name="password1">
                        </dd>

                        <dt>
                            <label for="password2-box">Again:</label>
                        </dt>
                        <dd>
                            <input type="password" id="password2-box" name="password2">
                        </dd>
                    </dl>
                    <p><button>Change password</button></p>
                </form>
            {% else %}
                <p>We&rsquo;re not sure how you got here!</p>
                <p><a href="{% url 'login' %}">Login</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}