{% extends 'base.html' %}

{% load custom_tags %}
{% load static %}
{% load tz %}

{% block breadcrumbs %}
    <span class="breadcrumb">
        <a href="{% url 'home' %}">Home</a>
    </span>
    <span class="breadcrumb">
        <a href="{% url 'lab_home' %}">Labs</a>
    </span>
    <span class="breadcrumb">
        {{ problem.lab.course.title }}
    </span>
    <span class="breadcrumb">
        <a href="{% url 'student_view_lab' lab_id=problem.lab.id %}">{{ problem.lab.title }}</a>
    </span>
    <span class="breadcrumb">
        {{ problem.title }}
    </span>
{% endblock %}

{% block content %}
    <div class="nav sidebar">
        <ol class="problem-links">
            {% for nav_problem in problem.lab.enabled_problems %}
                <li
                    {% if nav_problem == problem %}
                        class="current"
                    {% endif %}
                >
                    <div class="problem-points">
                        {{ student|scoreonproblem:nav_problem|floatformat }}<span style="font-size: 0.8rem;">/{{ nav_problem.possible_points|floatformat }}</span>
                    </div>
                    <a href="{% url 'student_view_problem' problem_id=nav_problem.id %}">
                        {{ nav_problem.title }}
                        <br/>
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>

    <div class="cards with-sidebar">
        <div class="card">
            <div class="title">{{ problem.title }}</div>

            <div class="current-score">Current score:
                {% if attempts %}
                    <span style="font-size: 125%; padding-left: 8px;">{{ current_score|floatformat }}</span>
                    / <span>{{ problem.possible_points|floatformat }}</span>
                    {% if current_score == problem.possible_points %}
                        <span class="complete-mark" title="You have full points on this problem. Any further submissions you make will not affect your grade."></span>
                    {% endif %}
                {% else %}
                    not attempted
                {% endif %}
            </div>

            {% if viewing_as_other %}
            <div class="info-box">
                <div class="info-box-title">
                    Viewing this problem as {{ student.username }} ({{ student.name }})
                </div>
            </div>
            {% endif %}

            {% if viewing_as_other or student.is_dummy %}
                <p>
                    <label>
                        View this problem as
                        <select id="view-as-box">
                            <option value="">Self (dummy student)</option>
                            {% if active_students %}
                                <optgroup label="Active students">
                                    {% for other_student in active_students %}
                                        <option value="{{ other_student.username }}" {% if other_student.uuid == student.uuid %}selected{% endif %}>
                                            {{ other_student.username }} ({{ other_student.name }}) &nbsp;&nbsp;&nbsp;&nbsp; [{{ other_student.num_attempts }} attempts / {{ other_student.current_score|floatformat }} pts]
                                        </option>
                                    {% endfor %}
                                </optgroup>
                            {% endif %}
                            {% if inactive_students %}
                                <optgroup label="Inactive students">
                                    {% for other_student in inactive_students %}
                                        <option value="{{ other_student.username }}" {% if other_student.uuid == student.uuid %}selected{% endif %}>
                                            {{ other_student.username }} ({{ other_student.name }}) &nbsp;&nbsp;&nbsp;&nbsp; [{{ other_student.num_attempts }} attempts / {{ other_student.current_score|floatformat }} pts]
                                        </option>
                                    {% endfor %}
                                </optgroup>
                            {% endif %}
                        </select>
                    </label>
                </p>
            {% endif %}

            {% if attempts %}
                <div class="indented">
                    <input type="checkbox" id="display-previous-attempts" class="display-toggle">
                    <label for="display-previous-attempts">Previous attempts</label>
                    <ul class="attempts-list display-toggleable no-marker">
                        {% for attempt in attempts reversed %}
                            <li>
                                <span class="score">
                                    {{ attempt.score }} / <span style="font-size: 80%;">{{ problem.possible_points }}</span>
                                </span>
                                {% if attempt != selected_attempt %}
                                    {% if viewing_as_other %}
                                        <a href="{% url 'as_student_view_problem_attempt' problem_id=problem.id attempt_id=attempt.id as_username=student.username %}">{{ attempt.when|friendlytime }}</a>
                                    {% else %}
                                        <a href="{% url 'student_view_problem_attempt' problem_id=problem.id attempt_id=attempt.id %}">{{ attempt.when|friendlytime }}</a>
                                    {% endif %}
                                {% else %}
                                    {{ attempt.when|friendlytime }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="problem-prompt">
                {{ problem.prompt|markdown }}
            </div>

            {% if recent_attempt_error %}
                <div class="info-box">
                    <div class="info-box-title">Error</div>
                    <div class="info-box-text">
                        {{ recent_attempt_error }}
                    </div>
                </div>
            {% endif %}

            <div class="problem-work-area">
                <form id="submission-form" action="{% url 'student_view_problem' problem_id=problem.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="problem-text" name="text">
                    {% comment %}<textarea class="code-entry" name="text">{{ recent_attempt_text }}</textarea>{% endcomment %}
                    <div id="editor" class="code-editor">{{ recent_attempt_text }}</div>
                </form>
                <form id="request-help-form" action="{% url 'student_request_help' problem_id=problem.id %}" method="get">
                    {% csrf_token %}
                </form>
                <p class="right">
                    <button form="request-help-form" {% if viewing_as_other %}disabled{% endif %}>Request help</button>
                    <button id="submit-button" form="submission-form" {% if viewing_as_other %}disabled{% endif %}>Submit</button>
                </p>
            </div>
        </div>

        {% if selected_attempt %}
            <div class="card">
                <div class="title">Results</div>
                {% for result in selected_attempt.results.all %}
                    {% with student_data=result.data_file|loadcsv correct_data=result.correct_result_data_file|loadcsv %}
                        <div class="test-case-result">
                            <div class="test-case-score"><span class="points">{{ result.score|floatformat }}</span> / {{ result.test_case.points|floatformat }}</div>
                            <div class="test-case-title">{{ result.test_case.title }}</div>
                            <div><div class="test-case-data">
                                <div class="correct data">
                                    <div class="caption">Expected</div>
                                    <table class="highlight-alternating-rows">
                                        {{ correct_data|datatable }}
                                    </table>
                                </div>
                                <div class="student data">
                                    <div class="caption">Your result</div>
                                    <table class="highlight-alternating-rows">
                                        {{ student_data|datatable:correct_data }}
                                    </table>
                                </div>
                            </div></div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <script src="{% static 'script/ace/ace.js' %}"></script>
    <script src="{% static 'script/base.js' %}"></script>
    <script>
"use strict";
(function() {
    const editor = ace.edit("editor");
    editor.setTheme("ace/theme/sql_lab");
    editor.session.setMode("ace/mode/sql");
    editor.session.setUseWrapMode(true);

    $("#submit-button").addEventListener("click", () => {
        const text = editor.getSession().getDocument().getValue();
        $("#problem-text").value = text;
        $("#submission-form").submit();
    });

    {% if student.is_dummy or viewing_as_other %}
        const base_url = "{% url 'student_view_problem' problem_id=problem.id %}";

        $("#view-as-box").addEventListener("change", e => {
            const value = e.target.value;
            console.log("Student selected: " + value);
            let url = base_url;
            if (value)
                url += "/as/" + value;
            window.location.href = url;
        });
    {% endif %}
})();
    </script>
{% endblock %}