{% extends 'base.html' %}

{% load custom_tags %}
{% load static %}

{% block breadcrumbs %}
    <span class="breadcrumb">
        <a href="{% url 'home' %}">Home</a>
    </span>
    <span class="breadcrumb">
        <a href="{% url 'lab_home' %}">Labs</a>
    </span>
    <span class="breadcrumb">
        {{ lab.course.title }}
    </span>
    <span class="breadcrumb">
        {{ lab.title }}
    </span>
{% endblock %}

{% block content %}
    <div class="cards">
        <div class="card">
            <div class="title">{{ lab.title }}</div>

            {% if viewing_as_other %}
            <div class="info-box">
                <div class="info-box-title">
                    Viewing this lab as {{ student.username }} ({{ student.name }})
                </div>
            </div>
            {% endif %}

            {% if viewing_as_other or student.is_dummy %}
                <p>
                    <label>
                        View this problem as
                        <select id="view-as-box">
                            <option value="">Self (dummy student)</option>
                            {% if active_students %}
                                <optgroup label="Active students">
                                    {% for other_student in active_students %}
                                        <option value="{{ other_student.username }}" {% if other_student.uuid == student.uuid %}selected{% endif %}>
                                            {{ other_student.username }} ({{ other_student.name }}) &nbsp;&nbsp;&nbsp;&nbsp; [{{ other_student.current_score|floatformat }} pts]
                                        </option>
                                    {% endfor %}
                                </optgroup>
                            {% endif %}
                            {% if inactive_students %}
                                <optgroup label="Inactive students">
                                    {% for other_student in inactive_students %}
                                        <option value="{{ other_student.username }}" {% if other_student.uuid == student.uuid %}selected{% endif %}>
                                            {{ other_student.username }} ({{ other_student.name }}) &nbsp;&nbsp;&nbsp;&nbsp; [{{ other_student.current_score|floatformat }} pts]
                                        </option>
                                    {% endfor %}
                                </optgroup>
                            {% endif %}
                        </select>
                    </label>
                </p>
            {% endif %}


            <div class="lab problems">
                {% for problem in lab.enabled_problems %}
                    <a
                            {% if viewing_as_other %}
                                href="{% url 'as_uuid_student_view_problem' problem_id=problem.id as_uuid=student.uuid %}"
                            {% else %}
                                href="{% url 'student_view_problem' problem_id=problem.id %}"
                            {% endif %}
                            class="not-shown hand-cursor"><div class="problem">
                        <div class="title">
                            {{ problem.title }}
                        </div>
                        <div class="prompt">
                            {{ problem.prompt|markdown }}
                        </div>
                        <div class="points">
                            <span style="font-size: 1.1rem;">{{ student|scoreonproblem:problem|floatformat }}</span>/{{ problem.possible_points|floatformat }} point{{ problem.possible_points|pluralize }}
                        </div>
                    </div></a>
                {% endfor %}
            </div>

            <div class="lab total-score">
                Current score: <span style="font-size: 125%; padding-left: 16px;">{{ student|scoreonlab:lab|floatformat }}</span> / {{ lab.total_points|floatformat }}
            </div>
        </div>
    </div>


{% if student.is_dummy or viewing_as_other %}
    <script src="{% static 'script/base.js' %}"></script>
    <script>
    "use strict";
    (function() {
        const base_url = "{% url 'student_view_lab' lab_id=lab.id %}";

        $("#view-as-box").addEventListener("change", e => {
            const value = e.target.value;
            let url = base_url;
            if (value)
                url += "/as/" + value;
            window.location.href = url;
        });
    })();
    </script>
{% endif %}

{% endblock %}