{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>SQL Lab</title>
        {% block stylesheet %}
            <link rel="stylesheet" href="{% static 'style/base.css' %}">
        {% endblock %}
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <nav>
            <div class="breadcrumbs">
                {% block breadcrumbs %}
                    <span class="breadcrumb">
                        <a href="{% url 'home' %}">Home</a>
                    </span>
                {% endblock %}
            </div>

            {% if user.is_authenticated %}
                <div class="right user-box">
                    You are logged in as {{ user }}.
                    <span class="user-controls">
                        <a href="{% url 'logout' %}">Logout</a>
                    </span>
                </div>
            {% endif %}
        </nav>

        <div class="alter-ego">
            {% block alter_ego %}
                {% if alter_ego %}
                    Acting as a student.<a href="{% url 'home' %}">Return to instructor view</a>
                {% elif instructor  %}
                    <a href="{% url 'instructor_dummy_home' %}">Enter student view</a>
                {% endif %}
            {% endblock %}
        </div>
    </body>
</html>