{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Databases course</title>
        {% block stylesheet %}
            <link rel="stylesheet" href="{% static 'style/base.css' %}">
        {% endblock %}
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <nav>
            <div class="breadcrumbs">
                {% block breadcrumbs %}
                    <span class="breadcrumb">
                        <a href="{% url 'home' %}">Home</a>
                    </span>
                {% endblock %}
            </div>

            {% if user.is_authenticated %}
                <div class="right user-box">
                    You are logged in as {{ user }}.
                    <span class="user-controls">
                        <a href="{% url 'logout' %}">Logout</a>
                    </span>
                </div>
            {% endif %}
        </nav>

        {% if instructor_href or student_href %}
            <div class="alter-ego">
                {% block alter_ego %}
                    {% if instructor_href %}
                        Acting as a student. <br/>
                        <a href="{{ instructor_href }}">Return to instructor view</a>
                    {% elif student_href %}
                        <a href="{{ student_href }}">Enter student view</a>
                    {% endif %}
                {% endblock %}
            </div>
        {% endif %}
    </body>
</html>