"""
Django settings lab app.
"""

from pathlib import Path
import os

# Build paths inside the project like this: BASE_DIR / 'subdir'.
BASE_DIR = Path(__file__).resolve().parent

SNAPSHOT_DIR = BASE_DIR / 'snapshots'

import managed_db_settings
LAB_DB_HOST = managed_db_settings.HOST
LAB_DB_PORT = managed_db_settings.PORT
LAB_DB_USER = managed_db_settings.USER
LAB_DB_PASSWORD = managed_db_settings.PASSWORD

MYSQL_EXECUTABLE = '/usr/bin/mysql'
